  <%=link_to "", playlists_path, class: "logo", style: "display:inline-block;"%>
  <div class="headtitle">
  <h4 id="title"> <%= @song.place%>, <%= @song.year%> </h5>
  </div>
	
		<% @artistimg.each do |aimage| %><div style="display:inline-block; width:50%"><img src='<%=aimage["unescapedUrl"]%>' style="height:155px; width:100% ;display:inline-block"></div><% end %>
		<div style="display:inline-block; width:100%"><iframe style ="width:100%;" src='<%= "http://www.youtube.com/embed/#{@youtube.first}" %>' frameborder="0" allowFullScreen ></iframe></div>			
		
		<% @cityimg.each do |cimage| %><div style="display:inline-block; width:50%"><img src='<%=cimage["unescapedUrl"]%>' style="height:155px;width:100% ;display:inline-block"></div><% end %>

		<div style="display:inline-block; width:100%"><iframe style ="width:100%;" src='<%= "http://www.youtube.com/embed/#{@youtube[1]}" %>' frameborder="0" allowFullScreen ></iframe></div>	

		<% @fashionimg.each do |fimage| %><div style="display:inline-block; width:50%"><img src='<%=fimage["unescapedUrl"]%>' style="height:155px;width:100% ;display:inline-block"></div><% end %>

		<div style="display:inline-block; width:100%"><iframe style ="width:100%;" src='<%= "http://www.youtube.com/embed/#{@youtube[2]}" %>' frameborder="0" allowFullScreen ></iframe></div>	


		<% @artimg.each do |aimage| %><div style="display:inline-block; width:50%"><img src='<%=aimage["unescapedUrl"]%>' style="height:155px;width:100% ;display:inline-block"></div><% end %>
		<div style="display:inline-block; width:100%"><iframe style ="width:100%;" src='<%= "http://www.youtube.com/embed/#{@youtube[3]}" %>' frameborder="0" allowFullScreen ></iframe></div>	

		<% @filmimg.each do |fimage| %><div style="display:inline-block; width:50%"><img src='<%=fimage["unescapedUrl"]%>' style="height:155px;width:100% ;display:inline-block"></div><% end %>

		<div style="display:inline-block; width:100%"><iframe style ="width:100%;" src='<%= "http://www.youtube.com/embed/#{@youtube[4]}" %>' frameborder="0" allowFullScreen ></iframe></div>
 



